.article {
	margin-bottom: 25px;

	&__img-wrapper {
		width: 100%;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__text-wrapper {
		border: 1px solid @gray;
		border-top: none;
		padding: 30px 28px;
	}

	&__info {
		font-family: @font-family--opensans;
		font-size: @font-size--small;
		color: @text-gray--light;
		margin-bottom: 20px;
	}

	&__date {
		margin-right: 20px;
		position: relative;
	}

	&__title {
		font-family: @font-family--montserrat;
		font-weight: bold;
		line-height: 1.2;
		color: @text-gray--darken;
		margin-bottom: 15px;
	}

	&__text {
		font-family: @font-family--opensans;
		font-weight: normal;
		line-height: 1.6;
		color: @text-gray;
	}
}