.page-header {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;

	@media (min-width: @screen-sm-min) {
		padding-left: 30px;
		padding-right: 30px;
	}
}